{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link class="style" rel="stylesheet" type="text/css" href="{% static 'css/light.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <script type="text/javascript">
        let user = '{{ request.user }}'

        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getToken('csrftoken');

      $(document).ready(function() {
    var elementWithStyleClass = $('.style');
    var darkModeHrefValue = '{% static "css/dark.css" %}';
    var lightModeHrefValue = '{% static "css/light.css" %}';
    var toggleStatus = localStorage.getItem('toggleStatus');

    if (!toggleStatus) {
        toggleStatus = 'light';
    }

    if (toggleStatus === 'dark') {
        elementWithStyleClass.attr('href', darkModeHrefValue);
        $('.toggle-button').prop('checked', true);
        $('.fa-solid.fa-sun').css('opacity', 1);
        $('.fa-solid.fa-moon').css('opacity', 0);
    } else {
        elementWithStyleClass.attr('href', lightModeHrefValue);
        $('.toggle-button').prop('checked', false);
        $('.fa-solid.fa-sun').css('opacity', 0);
        $('.fa-solid.fa-moon').css('opacity', 1);
    }

    $('.toggle-button').click(function() {
        var isChecked = $(this).prop('checked');
        if (isChecked) {
            elementWithStyleClass.attr('href', darkModeHrefValue);
            localStorage.setItem('toggleStatus', 'dark');
            $('.fa-solid.fa-sun').css('opacity', 1);
            $('.fa-solid.fa-moon').css('opacity', 0);
        } else {
            elementWithStyleClass.attr('href', lightModeHrefValue);
            localStorage.setItem('toggleStatus', 'light');
            $('.fa-solid.fa-sun').css('opacity', 0);
            $('.fa-solid.fa-moon').css('opacity', 1);
        }
    });

});


    </script>
    <title>Home</title>
</head>
<body class="body">

<nav class="navbar navbar-expand-lg" style="background: none; padding: 0">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/logo.png' %}" alt="" width="100" height="100">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="container-fluid">
                <div class="d-flex justify-content-between align-items-center w-100">
            <ul class="navbar-nav col-6 me-auto mb-2 mb-lg-0">
                <li class="nav-item offset-1">
                    <a class="nav-link active" aria-current="page" href="{% url 'about_us' %}" style="color: #064420"><h5>About us</h5></a>
                </li>
                <li class="nav-item offset-1">
                    <a class="nav-link active" aria-current="page" href="{% url 'how_it_works' %}" style="color: #064420"><h5>How It Works?</h5></a>
                <li class="nav-item offset-1">
                    <a class="nav-link" href="#"><h5>Meal Plans</h5></a>
                </li>
                <li class="nav-item offset-1">
                    <a class="nav-link"  href="{% url 'menus' %}"><h5>Menus</h5></a>
                </li>
            </ul>
            <ul class="navbar-nav col-4 ms-auto  mb-2 mb-lg-0">
                <li class="nav-item offset-1">
                    <a href="http://127.0.0.1:8000/insert_recipe" class="navbar-brand col-1 offset-3">
                        <button id="form-button" class="btn btn-outline-success " style="width: fit-content"
                                type="submit"> Save Meal
                        </button>
                    </a>
                </li>
                <li class="nav-item offset-1" >
                    <a class="navbar-brand " href="{% url 'cart' %}">
                        <img src="{% static 'images/vecteezy_shopping-cart-icon-shopping-basket-on-transparent_19787018_516.png' %}"
                             alt="" width="50" height="30">
                    </a>
                </li>
                <li class="nav-item offset-0.5">
                    <label class="switch">
                        <input type="checkbox" class="toggle-button">
                        <span class="slider round">
                            <i class="fa-solid fa-sun" style="color: #FFD43B;"></i>
                            <i class="fa-solid fa-moon"></i>
                        </span>
                    </label>
                </li>
                <li class="nav-item offset-0.5">
                    <a class="navbar-brand col-1 " href="{% url 'userProfile' %}">
                        <img src="{% static 'images/account.png' %}" alt="" width="35" height="35"
                             style="border-radius: 17px">
                    </a>
                </li>
                <li class="nav-item offset-0.5 ">
                    <a class="navbar-brand col-1 nav-link" href="{% url 'login_view' %}"><h5>Log in</h5></a>
                </li>
            </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
    <hr style="height: 2px; margin: 0; opacity: 20%;">

{% block content %}
<div class="container-fluid bg-image" style="
        background-image: url('{% static 'images/pexels-ella-olsson-1640774.jpg' %}')"><p></p>
    <div class="image-text">
        <h3 style="font-size: 100px; font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace">
            LET'S COOK</h3>
        <h1 style=" font-size: 100px; font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace">
            TOGETHER</h1>
    </div>
</div>

<div class="container" style="padding-top: 20px">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for menu in menus %}
            <div class="col">
                <a href="{% url 'menu' menu.id %}">
                    <div class="card h-100">
                        {% if menu.img %}
                            <img src="{{ menu.img.url }}" data-product="{{ menu.id }}" class="card-img-top menu" alt="..." style="height: 250px; width: 350px">
                        {% else %}
                            <img src="{% static 'placeholder.jpg' %}" class="card-img-top menu" alt="Placeholder Image" style="height: 250px; width: 350px">
                        {% endif %}
                    </div>
                </a>
            </div>
        {% endfor %}


    </div>


</div>


<div class="container-fluid" style="height: 420px">
    <div class="container">
        <div class="card mb-4" style="border: none">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <img class="card-img" src="{% static 'images/box.jpg' %}" alt="Card image">
                </div>
                <div class="card-body col-md-4 offset-1"
                     style=" align-items: center  ">
                    <h2 class="card-title"><i>What's inside each box?</i></h2>
                    <br>
                    <p class="card-text">✓ Easy-to-follow recipes with clear nutritional info</p>
                    <p class="card-text">✓ High-quality ingredients sourced straight from the farm</p>
                    <p class="card-text">✓ Convenient meal kits that fit perfectly in the fridge</p>
                    <p class="card-text">✓ A fun cooking experience that makes you feel unstoppable</p>
                    <p class="card-text">✓ Innovative packaging designed to reduce waste</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <h1 class="image-text text" style="height: 100px">FAQ</h1>
    <div class="cont" style="display: inline-flex; justify-content: space-between;">
        <p class="col-6 offset-2" style="font-size: 20px">? Does every meal come with a step by step recipe?</p>
        <p class="col-6 offset-2" style="font-size: 20px">? How do I get nutrition & calorie information about every
            meal?</p>
    </div>

    <div class="cont" style="display: inline-flex;">
        <p class="col-6 offset-4" style="font-size: 20px">? How much does it cost?</p>
        <p class="col-7 offset-9" style="font-size: 20px">? How do I recycle my meal-kit box?</p>
    </div>
</div>
{% endblock content %}

<div class="footer" style="height: fit-content">
    <div class="card mb-4"
         style="border: none; width: 18rem; display: inline-block; margin-right: 30px; text-align: center">
        <div class="title">
            <h5>Contact Us</h5>
        </div>
        <div class="card-body">
            <div style="text-align: left; padding-bottom: 5%">
                <img src="{% static 'images/phone.png' %}" height="15%" width="15%">
                <span>(+389) 72/123-456</span>
            </div>
             <div style="text-align: left; padding-bottom: 5%">
                <img src="{% static 'images/email.png' %}" height="15%" width="15%">
                <span>info@example.com</span>
            </div>
             <div style="text-align: left; padding-bottom: 5%">
                <img src="{% static 'images/webpage.png' %}" height="15%" width="15%">
                <span>www.example.com</span>
            </div>
             <div style="text-align: left; padding-bottom: 5%">
                <img src="{% static 'images/location.png' %}" height="15%" width="15%">
                <span>123 Main Street, Apartment 4B, Cityville, State 54321, United States</span>
            </div>

        </div>
    </div>

    <div class="card mb-4"
         style="border: none; width: 18rem; display: inline-block; margin-right: 30px; text-align: center">
        <div class="title">
            <h5>Links</h5>
        </div>
        <div class="card-body">
            <a href="{% url 'about_us' %}" class="nav-link" style="text-align: left"> About Us</a>
            <a href="{% url 'how_it_works' %}" class="nav-link" style="text-align: left"> How it works</a>
            <a href="{% url 'menus' %}" class="nav-link" style="text-align: left"> Menus</a>
            <a href="#" class="nav-link" style="text-align: left"> Meal Plans</a>
        </div>
    </div>


    <div class="card mb-4"
         style="border: none;width: 18rem; display: inline-block; margin-right: 30px; text-align: center; height: 50%; display: inline-block" >
        <div>
        <div class="title">
            <h5>Payment Methods</h5>
        </div>
        <div class="card-body">
            <p class="card-text"><img src="{% static 'images/PYPL-3570673e.png' %}" height="10%" width="15%"> <img
                    src="{% static 'images/visa-and-mastercard-logo-26.png' %}" height="50%" width="55%"></p>
        </div>
        </div>
          <div style="margin-top: 20%">
        <div class="title">
            <h5>Download Our App</h5>
        </div>
        <div class="card-body">
            <p class="card-text"><img src="{% static 'images/GooglePlay.png' %}" height="50%" width="45%"> <img
                    src="{% static 'images/AppStore.png' %}" height="50%" width="45%"></p>
        </div>
          </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

</body>
</html>
